* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #efb4b4;
  color: #ab1917; /* Here my dear chatgpt tought me to have two elements in one sector (the  body) */
}

/*Header section*/

ul {
  width: 100%;
  display: flex;
  list-style: none;
  padding: 2rem;
  background-color: #ab1917;
  color: #efb4b4;
  margin: 0%;
  align-items: center; /* Aligns all the items on the same x-line */
}
a {
  color: #efb4b4;
}
li {
  margin-left: 3rem;
}
nav ul img {
  width: 200px;
  position: absolute;
  padding: 1rem;
  top: 0;
  left: calc(
    50% - 100px
  ); /* Position asbolute takes the element out of the others, the left calc tells me the distance is 50% of the whole web and then we take half of that to make it go perfectly in the middle. Erik Sandqvist helped me with this. */
}

/*Font section*/

h1 {
  font-family: "the-seasons", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
}
h2 {
  font-family: "the-seasons", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
}
main {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
}
ul {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
}

/* Footer */
footer {
  background-color: rgb(248, 244, 244);
  padding: 2rem;
  text-align: center;
}
/* Index */
.logotype-class {
  max-width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto; /*C Center image tutorial by w3schools */
  padding-top: 3rem;
  height: calc(
    100vh - 179px
  ); /* The vh stands for viewheight, we want it to be t 100 % minus header-height */
}
.portfolio-preview-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 3rem;
  align-items: center;
  max-width: 1296px;
  margin: auto;
}
.white-container {
  background-color: rgb(248, 244, 244);
  padding: 6rem 0; /* y and x led */
}

.info-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1296px;
  margin: auto;
  padding: 6rem 0;
  gap: 3rem;
}

.info-container p {
  /* This is going to change all the p's inside the container, it minimizes the tags etc, help from Erik */
  width: 600px;
}

.box {
  width: 400px;
  height: 563px;
  border: 1px solid black;
}

/* Contact page */

h1 {
  padding-top: 3rem;
}

.align-center {
  text-align: center;
}

.form-input {
  margin: 4rem 0;
  text-align: center;
}

/* Portfolio page */
.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  gap: 3rem;
  max-width: 1296px; /*width of images plus  gap */
  margin: auto;
}
.portfolio-image {
  max-width: 400px;
  height: 100%;
  filter: drop-shadow(
    8px 8px 8px rgba(0, 0, 0, 0.125)
  ); /* x, y and width led */
}
body.portfolio {
  background-color: rgb(248, 244, 244);
}
